/*!
 *  Helsinki Fonts for LSE Cities web projects
 *  License: proprietary (https://ludwigtype.de/)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'Helsinki';
  src: url('../fonts/HelsinkiWeb-Regular.eot?v=1.0.0');
  src: url('../fonts/HelsinkiWeb-Regular.eot?#iefix&v=1.0.0') format('embedded-opentype'), url('../fonts/HelsinkiWeb-Regular.woff?v=1.0.0') format('woff'), url('../fonts/HelsinkiWeb-Regular.ttf?v=1.0.0') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helsinki';
  src: url('../fonts/HelsinkiWeb-RegularItalic.eot?v=1.0.0');
  src: url('../fonts/HelsinkiWeb-RegularItalic.eot?#iefix&v=1.0.0') format('embedded-opentype'), url('../fonts/HelsinkiWeb-RegularItalic.woff?v=1.0.0') format('woff'), url('../fonts/HelsinkiWeb-RegularItalic.ttf?v=1.0.0') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Helsinki';
  src: url('../fonts/HelsinkiWeb-Bold.eot?v=1.0.0');
  src: url('../fonts/HelsinkiWeb-Bold.eot?#iefix&v=1.0.0') format('embedded-opentype'), url('../fonts/HelsinkiWeb-Bold.woff?v=1.0.0') format('woff'), url('../fonts/HelsinkiWeb-Bold.ttf?v=1.0.0') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Helsinki';
  src: url('../fonts/HelsinkiWeb-BoldItalic.eot?v=1.0.0');
  src: url('../fonts/HelsinkiWeb-BoldItalic.eot?#iefix&v=1.0.0') format('embedded-opentype'), url('../fonts/HelsinkiWeb-BoldItalic.woff?v=1.0.0') format('woff'), url('../fonts/HelsinkiWeb-BoldItalic.ttf?v=1.0.0') format('truetype');
  font-weight: bold;
  font-style: italic;
}

